*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

.main-container{
    width: 100%;
    height: auto;
    background-color: rgb(252, 252, 252);

}

.nav{
    width: 100%;
    height: auto;

}

.nav img{
    width: 100px;
    margin-left: 240px;
    margin-top: 10px;
}

nav span{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 100px;
    margin-bottom: 20px;
}

.nav span a{
   margin-left: 50px;
    

}

.nav button{
    margin-left: 150px;
padding-inline: 25px;
    padding-block: 10px;
    border-radius: 10px 10px 0px 20px;
    background-color: black;
    color: aliceblue;

}


.first-container{
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 5px;

}

.one{
    width: 70%;
    height: auto;
    display: inline;
    align-items: center;
    justify-content: center;
}

.one h1{
    margin-top: 70px;
    margin-left: 270px;
    font-size: 60px;

}

.one p{
    margin-left: 350px;
    margin-top: 50px;
    font-size:20px ;
    margin-right: 100px;
}



.two{
    width: 50%;
    height: auto;
    background-image: url('./paper-style-smooth-background_52683-63751.avif');
    border-radius: 1000px 00px 2000px 900px ;
}

.one button{
    margin-left: 250px;
    margin-top: 50px;
    padding-block: 10px;
    border-radius: 0px 10px 20px 0px;
    background-color: black;
    color: aliceblue;


}


#dow{
    background-color: antiquewhite;
    color: black;
    border-radius: 20px 0px 10px 10px;
    
    padding-block: 10px;
    
}



.two img{

    
    height: 500px;
    margin-top: 100px;
    border-radius: 0 0 500 0;
    
}

.second-container{
    width: 100%;
    height: auto; 
    

    

}


.second-container img{
    width: 100%;
    margin-top: 100px;
}

.third-container{
    width: 100%;
    height: auto;
    display: flex;
    
   

}

.layer-one{
    width: 50%;
    height: 700px;
    border-radius:400px 20px 400px 20px;
    background-color: antiquewhite;
    position: sticky;
    
}

.core-one{

    width: 300px;
    height: 310px;
    background-color:transparent;
    margin-left: 50%;
    
    display: flex;

    border-radius:200px 200px 0px 120px ;
    
}

.core-one img{
    width: 90%;
    height: 290px;
    border-radius:200px 200px 0px 120px ;
    margin-top: 20px;
    
}

.core-one button{
    width: 150px;
    height: 40px;
    border-radius:100px 100px 100px 10px ;
    margin-top: 80%;
    margin-left: 30px;
}


.core-two{
    width: 270px;
    height: 350px;
    background-color:transparent;
    display: flex;
    
    margin-left: 65%;
    
    border-radius: 0px 100px 110px 110px;
    
    

}

.core-two img{
    width: 100%;
    height: 310px;
    border-radius: 20px 100px 110px 110px;
    
    position: sticky;
   
    

}

.core-two button{
    width: 40px;
    height: 170px;
    background-color: rgb(248, 221, 88);
    margin-right: 15px;
    border-radius: 0px 100px 0px 110px;
    margin-top: 40px;
}

.layer-two{
    width: 50%;
    height: auto;
    color: black;
}

.layer-two h1{
margin-left: 200px;
margin-top: 180px;
}

.layer-two hr{
    width: 70px;
    height: 5px;
    margin-left: 280px;
    background-color: rgb(248, 221, 88);
    margin-top: 5px;
}

.layer-two p{
    margin-left: 60px;
    margin-top: 60px;
    font-size: 23px;
    
}

.layer-two button{
    margin-top: 100px;
    margin-left: 270px;
    background-color: rgb(248, 221, 88);
    width: 150px;
    height: 40px;
    border-radius:100px 100px 100px 10px ;
}


.fourth-container{
    width: 60%;
    height: 400px;
    background-color: antiquewhite;
    margin-top: 50px;
    margin-left: 30%;
  border-radius: 300px 300px 300px 300px;
}

.fourth-container h1{
    margin-left: 360px;
    margin-top: 30px;
    
}

.fourth-container hr{
    width: 70px;
    height: 5px;
    margin-left: 400px;
    background-color: rgb(248, 221, 88);
    margin-top: 5px;
}



.fourth-container p{
    margin-left: 120px;
    margin-top: 50px;
    font-size: 23px;
}
.fourth-container span{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.a{
    background-color: aliceblue;
    border-radius: 500px 500px 500px 500px;
    width: 190px;
    height: 160px;
    color: black;
    margin-left: 30px;
    margin-top: 25px;
}

.a h3{
    width: 20px;
    
    margin-left: 50px;

}

.a img{
    width: 30%;
    margin-left: 34%;
    margin-top: 20px;
}

.a  h2{
    margin-left: 65px;
    margin-top: 20px;
}

.b{
    background-color: aliceblue;
    border-radius: 500px 500px 500px 500px;
    width: 190px;
    height: 160px;
    color: black;
    margin-left: 0px;
    margin-top: 25px;
}

.b img{
    width: 40%;
    margin-left: 30%;
    margin-top: 10px;
}
.b  h2{
    margin-left: 75px;
    
    
}

.b h3{
    width: 20px;
    
    margin-left: 75px;
    

}

.c{
    background-color: aliceblue;
    border-radius: 500px 500px 500px 500px;
    width: 190px;
    height: 160px;
    color: black;
    margin-left: 0px;
    margin-top: 25px;
}

.c img{
    width: 40%;
    margin-left: 30%;
    margin-top: 10px;
}
.c h2{
    margin-left: 65px;
}

.c h3{
    width: 20px;
    
    margin-left: 63px;
}

.d{
    background-color: aliceblue;
    border-radius: 500px 500px 500px 500px;
    width: 190px;
    height: 160px;
    color: black;
    margin-left: 0px;
    margin-top: 25px;
}

.d img{
    width: 40%;
    margin-left: 30%;
    margin-top: 10px;
}
.d h2{
    margin-left: 60px;
    margin-top: 10px;
}

.d h3{
    width: 20px;
    
    margin-left: 60px;
    margin-top: 10px;

}


.fifth-container{
    width: 70%;
    height: 600px;
    margin-left: 200px;
    margin-top: 100px;
    background-color: white;
    
    border-color: 1px solied black;
}

.fifth-container h1{
    margin-left: 410px;
    



}

.fifth-container hr{
    width: 100px;
    height: 5px;
    margin-left: 480px;
    background-color: rgb(248, 221, 88);
    margin-top: 5px;
}

.fifth-container span{
    margin-left: 380px;
}
.fifth-container button{
    margin-top: 100px;
    

    background-color: rgb(255, 255, 252);
    width: 170px;
    height: 40px;
    border-radius:10px 100px 10px 10px ;
    

}

#cus{
    width: 170px;
    height: 40px;

    
    background-color: rgb(248, 221, 88);
    margin-top: 5px;
    border-radius:10px 10px 10px 100px ;
}

.xyz{
    display: flex;
    margin-right: 100px;
}
.x{
    width: 200px;
    
    margin-left: 150px;
}

.x h2{
    margin-top: 30px;
}

.x p{
    margin-top: 20px;
}





.x img{
    width: 100%;
    margin-top: 30px;
}

.y{
    width: 200px;
    
    margin-left: 150px;
}

.y h2{
    margin-top: 30px;
}

.y p{
    margin-top: 20px;
}





.y img{
    width: 100%;
    margin-top: 30px;
}

.z{
    width: 200px;
    
    margin-left: 150px;
}

.z h2{
    margin-top: 30px;
}

.z p{
    margin-top: 20px;
}

.z img{
    width: 100%;
    margin-top: 30px;

}

.sixth-container{
    width: 100%;
    height: 600px;
    margin-top: 20px;

}

.sixth-container img{
     margin-left: 180px;

}

.sixth-container h1{
    margin-left: 530px;
    margin-top: 60px;
}

.sixth-container hr{
    width: 100px;
    height: 5px;
    margin-left: 710px;
    background-color: rgb(248, 221, 88);
    margin-top: 5px;

}

.sixth-container span{
    margin-left: 570px;
}


.sixth-container button{

    margin-left: 40px;
    margin-top: 100px;
    background-color:white;
    width: 150px;
    height: 40px;
    border-radius:10px 10px 10px 100px ;


 
    

}

#cap{
      margin-top: 100px;
    margin-left: 1px;
    background-color: rgb(248, 221, 88);
    width: 150px;
    height: 40px;
    border-radius:10px 100px 10px 10px ;

}

.main-l{
    display: flex;
}

.l-two{
    width: 400px;
    height:auto;
    background-color: azure;
    border-color: 10px solied black;
    margin-left: 360px;
    
    margin-top: 40px;
}

.l-two img{
    width: 40px;
    margin-left: 65px;
    margin-top: 5px;
}

.l-two p{
    margin-left: 100px;
}

.l-two h4{
    margin-left: 10px;
}

.l-two h5{
    margin-left: 10px;
}

.l-three{
    width: 400px;
    height:auto;
    background-color: azure;
    border-color: 10px solied black;
    margin-left: 10px;
    margin-top: 40px;
}

.l-three img{
    width: 40px;
    margin-left: 5px;
    margin-top: 5px;
}

.l-three p{
    margin-left: 100px;
}

.l-three h4{
    margin-left: 10px;
}

.l-three h5{
    margin-left: 10px;
}

#LAST{
    margin-left: 900px;
}

.csk{
    width: 100%;
    height: 500px;
    color: black;
    margin-top: 400px;
    display: flex;
    
}

.rcb{
    width: 50%;
    height: auto;


}

.rcb h1{
    margin-left: 280px;
}

.rcb hr{
    width: 80px;
    height: 5px;
    margin-left: 280px;
    background-color: rgb(248, 221, 88);
    margin-top: 5px;
}

.rcb p{
    margin-top: 40px;
    margin-left: 260px;
}

.MI{
    width: 50%;
    height: auto;
    background-color: antiquewhite;
    border-radius: 300px 300px 300px 300px;
}

.lsg{
    width: 400px;
    height: auto;
    margin-left: 50px;
    display: flex;
    margin-top: 40px;
    background-color: transparent;
}

.lsg img{
    width: 200px;
    height: 80%;
    border-radius: 100px 100px 0px 100px;
}

.lsg button{
    width: 100px;
    height: 40px;
    margin-left: 10px;
    margin-top: 110px;
    background-color: white;
    border-radius: 100px 0px 100px 0px;

}

.gt{
    width: 400px;
    height: 800px;
    margin-left: 200px;
    display: flex;
    
    background-color:transparent;
}

.gt img{
    width: 200px;
    height: 40%;
    border-radius: 0px 100px 100px 100px;
    
    

}

.gt button{ 
    padding-inline: 20px;
    height: 150px;
    margin-right: 10px;
    background-color: rgb(248, 221, 88);
    border-radius: 0px 100px 0px 100px;
    margin-top: 110px;
}

.footer-part{
    width: 100%;
    height: 400px;
    background-color: black;
    margin-top: 200px;
    color: white;
    display: flex;
}

.f-one{
   width: 40%;
   height: auto;
   display: inline;
   margin-top: 40px;
   
}

.f-one h3{
    margin-top: 30px;
    margin-left: 70px;
}

.f-one img{
    margin-top: 30px;
    margin-left: 70px;

}

.f-two{
    margin-top: 200px;
}

.f-two img{
    margin-top: 30px;
    margin-right: 120px;
}

.f-three{
    display: inline;
    flex-direction: column;
    margin-left: 80px;
    margin-top: 70px;
}

.f-four{
    display: inline;
    flex-direction: column;
    margin-left: 70px;
    margin-top: 70px;
}

  

.f-five{

    display: inline;
    flex-direction: column;
    margin-left: 70px;
    margin-top: 70px;


}

.f-six{
    width: 20%;
    margin-left: 20px;

}

.f-six h3{
    margin-left: 130px;
    margin-top: 30px;
}

.f-six img{
    width: 40px;
    margin-top: 40px;
    
    margin-left: 150px;

}


@media (max-width: 480px) {
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        margin-right: 0px;
        
    }

    .main-container{
        width: 100%;
        height: auto;
        margin-right: 0px;
    }


    .nav{
        width: 100%;
        height: auto;
        
    
    }
    
    .nav img{

        width: 70px;
        height: auto;
        margin-left: 5px;
        margin-top: 5px;
    }
    
 .nav span{
    display: none;
 }
    #bar{
        width: 50px;
        
        margin-bottom: 5px;
    }
    .nav button{
        
        width: 180px;

        background-color: transparent;
        border-radius: 0px;

        
        
        
       
        color: black;
        

        
    
        
    
    }



    .first-container{
        width: 100%;
        height: auto;
        display: inline;
        margin-top: 5px;
        
    
    }
    
    .one{
        width: 100%;
        height: auto;
        display: inline;
        align-items: center;
        justify-content: center;
    }
    
    .one h1{
        width: 100%;
        
        margin-top: 70px;
        margin-left: 100px;
        font-size: 30px;
    
    }
    
    .one p{
        margin-left: 70px;
        margin-top: 50px;
        font-size:20px ;
        
    }
    
    
    
    .two{
        width: 100%;
        height: 300px;
        background-image: url('./paper-style-smooth-background_52683-63751.avif');
         border-radius: 0px;
    }
    
    #sig{

        margin-top: 0px;
        margin-bottom: 10px;
        width: 150px;

      
    
    
    
    }
    
    
    #dow{
        margin-left: 80px;
        margin-bottom: 10px;
        width: 150px;
        background-color: rgb(240, 240, 45);
        color: black;
        border-radius: 20px 0px 10px 10px;
        
        padding-block: 10px;
        
    }
    
    
    
    .two img{
    
        width: 100%;
        height: 190px;
        
    
        
        
        
    }
    
    .second-container{
        width: 100%;
        height: 400px; 
        margin-bottom: 100px;
        
    
        
    
    }
    
    
    .second-container img{
        width: 100%;
        height: 400px;
        margin-top: 100px;
    }

    .third-container{
        width: 100%;
        height: auto;
        display: inline;
    
        
       
    
    }
    .layer-two{
        width: 100%;
        height: auto;
        color: black;
    }
    
    .layer-two h1{
    margin-left: 120px;
    margin-top: 180px;
    }
    
    .layer-two hr{
        width: 70px;
        height: 5px;
        margin-left: 180px;
        background-color: rgb(248, 221, 88);
        margin-top: 5px;
    }
    
    .layer-two p{
        margin-left: 30px;
        margin-top: 60px;
        font-size: 23px;
        
    }
    
    .layer-two button{
        margin-top: 50px;
        margin-left: 140px;
        background-color: rgb(247, 219, 36);
        width: 150px;
        height: 40px;
        border-radius:100px 100px 100px 10px ;
    }
    
    .layer-one{
        width: 50%;
        height: 400px;
        background-color: transparent;
        margin-left: 0px;
        margin-bottom: 400px;
       
    
        
    }
    
    .core-one{
    
        width: 300px;
        height: 310px;
          margin-left: 70px;
        
        
        
    
        border-radius:200px 200px 0px 120px ;
        
    }
    
    .core-one img{
        width: 400px;
        height: 290px;
        border-radius:200px 200px 0px 120px ;
        margin-top: 20px;
        margin-right: 190px;
        
    }
    
    .core-one button{
        width: 200px;
        height: 40px;
        background-color: rgb(248, 221, 88);
        margin-left: 0px;
        border-radius: 0px 100px 0px 110px;
        margin-top: 40px;


    }
    
    
    .core-two{
        width: 400px;
        height: 350px;
        background-color:transparent;
        display: flex;
        margin-right: 400px;

        
        
        
        border-radius: 0px 100px 110px 110px;
        
        
    
    }
    
    .core-two img{
        width: 300px;
        height: 310px;
        border-radius: 0px 100px 110px 110px;
        margin-right: 90px;
        
        
        
       
        
    
    }
    
    .core-two button{
        width: 200px;
        height: 40px;
        background-color: rgb(248, 221, 88);
        margin-right: 15px;
        border-radius: 0px 100px 0px 110px;
        margin-top: 40px;
    }

    .fourth-container{
        width: 100%;
        height: auto;
        background-color: transparent;
        margin-top: 10px;
        margin-left: 40px;
        
      
    }
    
    .fourth-container h1{
        margin-top: 30px;
        margin-left: 100px;
        
    }
    
    .fourth-container hr{
        width: 70px;
        height: 5px;
        margin-left: 120px;
        background-color: rgb(248, 221, 88);
        margin-top: 5px;
    }
    
    
    
    .fourth-container p{
        margin-left: 60px;
        
        font-size: 17px;
    }
    .fourth-container span{
        display: inline-block;
        align-items: center;
        justify-content: space-evenly;
        margin-left: 10px;
        
    }
    .ab{
        width: 80%;
        display: flex;

        
        margin-left: 0px;
        
    }

    .cd{

        width: 80%;
        display: flex;
        margin-left: 10px;
        

    }
    .a{
        background-color: rgba(240, 248, 255, 0.564);
        border-radius: 500px;
        width: 190px;
        height: 160px;
        color: black;
        margin-left: 0px;
      
        
        margin-top: 25px;
    }
    
    .a h3{
        width: 20px;
        margin-left: 35px;
        
        
    
    }
    
    .a img{
        width: 30%;
        margin-left: 34%;
        margin-top: 20px;
    }
    
    .a  h2{
        margin-left: 65px;
        margin-top: 10px;
        width: 40px;
        margin-right: 20px;
    }
    
    .b{
        
        background-color: rgba(240, 248, 255, 0.564);
        border-radius: 500px;
        
        width: 210px;
        height: 160px;
        color: black;
        margin-left: 40px;
        margin-top: 25px;
    }
    
    .b img{
        width: 40%;
        margin-left: 30%;
        margin-top: 10px;
    }
    .b  h2{
        margin-left: 60px;
        margin-top: 5px;
        
        
    }
    
    .b h3{
        width: 20px;
        
        margin-left: 60px;
        
    
    }
    
    .c{
        background-color: rgba(240, 248, 255, 0.564);
        border-radius: 500px;
        width: 190px;
        height: 160px;
        color: black;
        margin-left: 0px;
      
        
        margin-top: 25px;
    }
    
    .c img{
        width: 40%;
        margin-left: 30%;
        margin-top: 10px;
    }
    .c h2{
        margin-left: 40px;
        margin-top: 10px;
    }
    
    .c h3{
        width: 20px;
        
        margin-left: 40px;
    }
    
    .d{
        background-color: rgba(240, 248, 255, 0.564);
        border-radius: 500px;
        
        width: 210px;
        height: 160px;
        color: black;
        margin-left: 40px;
        margin-top: 25px;
    }
    
    .d img{
        width: 40%;
        margin-left: 30%;
        margin-top: 10px;
    }
    .d h2{
        margin-left: 45px;
        margin-top: 20px;
    }
    
    .d h3{
        width: 20px;
        
        margin-left: 45px;
        margin-top: 0px;
    
    }

    .fifth-container{
        width: 100%;
        height: 600px;
        
        margin-top: 20px;
        background-color: white;
        margin-left: 0px;
        
        border-color: 1px solied black;

        margin-bottom: 700px;
    }
    
    .fifth-container h1{
        margin-left: 120px;
        margin-top: 30px;
        
    
    
    
    }
    
    .fifth-container hr{
        width: 100px;
        height: 5px;
        margin-left: 160px;
        background-color: rgb(248, 221, 88);
        margin-top: 5px;
    }
    
    .fifth-container span{
        margin-left: 70px;
        
    }
    .fifth-container button{
        margin-top: 100px;
        
    
        background-color: rgb(255, 255, 252);
        width: 170px;
        height: 40px;
        border-radius:10px 100px 10px 10px ;
        
    
    }
    
    #cus{
        width: 170px;
        height: 40px;
    
        
        background-color: rgb(248, 221, 88);
        margin-top: 5px;
        border-radius:10px 10px 10px 100px ;
    }
    
    .xyz{
        display: inline-block;
        margin-right: 100px;
    }
    .x{
        width: 200px;
        
        margin-left: 150px;
    }
    
    .x h2{
        margin-top: 30px;
    }
    
    .x p{
        margin-top: 20px;
    }
    
    
    
    
    
    .x img{
        width: 100%;
        margin-top: 30px;
    }
    
    .y{
        width: 200px;
        
        margin-left: 150px;
    }
    
    .y h2{
        margin-top: 30px;
    }
    
    .y p{
        margin-top: 20px;
    }
    
    
    
    
    
    .y img{
        width: 100%;
        margin-top: 30px;
        
    }
    
    .z{
        width: 200px;
        
        margin-left: 150px;
    }
    
    .z h2{
        margin-top: 30px;
    }
    
    .z p{
        margin-top: 20px;
    }
    
    .z img{
        width: 100%;
        margin-top: 30px;
    
    }
    
    .sixth-container{
        width: 100%;
        height: 600px;
        
        display: inline;
    
    }
    
    .sixth-container img{
         margin-left: 180px;
         display: none;
    
    }
    
    .sixth-container h1{
        margin-left: 30px;
        margin-top: 10px;
    }
    
    .sixth-container hr{
        width: 100px;
        height: 5px;
        margin-left: 160px;
        background-color: rgb(248, 221, 88);
        margin-top: 5px;
    
    }
    
    .sixth-container span{
        margin-left: 10px;
    }
    
    


    #ct{
        margin-left: 70px;
        background-color:white;
        width: 150px;
        height: 40px;
        border-radius:10px 10px 10px 100px ;
    
    }
    
    #cap{
        margin-left: 240px;
        margin-top: 0px;
        
        background-color: rgb(248, 221, 88);
        width: 150px;
        height: 40px;
        border-radius:10px 100px 10px 10px ;
    
    }
    
    .main-l{
        width: 100%;
        height: auto;
        display: flex;
        margin-top: 10px;
    }
    
    .l-two{
        width: 400px;
        height:auto;
        background-color: azure;
        border-color: 10px solied black;
         margin-left: 0px;
        
        margin-top: 0px;
    }
    
    .l-two img{
        width: 40px;
        margin-left: 65px;
        margin-top: 5px;
    }
    
    .l-two p{
        margin-left: 100px;
    }
    
    .l-two h4{
        margin-left: 10px;
    }
    
    .l-two h5{
        margin-left: 10px;
    }
    
    .l-three{
        width: 400px;
        height:auto;
        background-color: azure;
        border-color: 10px solied black;
        margin-left: 10px;
        margin-top: 0px;
    }
    
    .l-three img{
        width: 40px;
        margin-left: 5px;
        margin-top: 5px;
    }
    
    .l-three p{
        margin-left: 100px;
    }
    
    .l-three h4{
        margin-left: 10px;
    }
    
    .l-three h5{
        margin-left: 10px;
    }
    
    #LAST{
        margin-left: 0px;
    }


    .csk{
        width: 100%;
        height: 500px;
        color: black;
        margin-top: 300px;
        display: inline;
        
    }
    
    .rcb{
        width: 100%;
        height: auto;
        margin-top: 100px;
        
    
    
    }
    
    .rcb h1{
        margin-left: 50px;
    }
    
    .rcb hr{
        width: 80px;
        height: 5px;
        margin-left: 180px;
        background-color: rgb(248, 221, 88);
        margin-top: 5px;
    }
    
    .rcb p{
        margin-top: 40px;
        margin-left: 40px;
    }
    
    .MI{
        width: 50%;
        height: auto;
        background-color:transparent;
        border-radius: 300px 300px 300px 300px;
    }
    
    .lsg{
        width: 400px;
        height: auto;
        margin-left: 50px;
        display: flex;
        margin-top: 40px;
        background-color: transparent;
    }
    
    .lsg img{
        width: 200px;
        height: 80%;
        border-radius: 100px 100px 0px 100px;
    }
    
    .lsg button{
        width: 100px;
        height: 40px;
        margin-left: 10px;
        margin-top: 110px;
        background-color:rgb(245, 245, 22);
        border-radius: 100px 0px 100px 0px;
    
    }
    
    .gt{
        width: 400px;
        height: 800px;
        margin-left: 120px;
        display: flex;
        
        background-color:transparent;
    }
    
    .gt img{
        width: 200px;
        height: 40%;
        border-radius: 0px 100px 100px 100px;
        
        
    
    }
    
    .gt button{ 
        width: 100px;
        height: 40px;
        margin-left: 10px;
        margin-top: 110px;
        background-color:rgb(245, 245, 22);
        border-radius: 100px 0px 100px 0px;
    }


    .footer-part{
        width: 100%;
        height: auto;
        background-color: black;
        margin-top: 0px;
        color: white;
        display: inline-block;
    }
    
    .f-one{
       width: 40%;
       height: auto;
       display: inline;
       margin-top: 40px;
       
    }
    
    .f-one h3{
        margin-top: 30px;
        margin-left: 70px;
    }
    
    .f-one img{
        margin-top: 30px;
        margin-left: 70px;
    
    }
    
    .f-two{
        margin-top: 20px;
        margin-left: 15%;
    }
    
    .f-two img{
        margin-top: 30px;
        margin-right: 120px;
    }

    .f-main{
        display: flex;
        margin-top: 10px;
    }
    
    .f-three{
        display: inline;
        flex-direction: column;
        margin-left: 30px;
        margin-top: 60px;
    }
    
    .f-four{
        display: inline;
        flex-direction: column;
        margin-left: 100px;
        margin-top: 20px;
    }
    
      
    
    .f-five{
    
        display: inline;
        flex-direction: column;
        margin-left: 70px;
        margin-top: 70px;
    
    
    }
    
    .f-six{
        width: 100%;
        margin-left: 0px;
        margin-bottom: 20px;
        margin-top: 30px;
    
    }
    
    .f-six h3{
        margin-left: 130px;
        margin-top: 30px;
    }
    
    .f-six img{
        width: 40px;
        margin-top: 40px;
        
        margin-left: 150px;
    
    }
    
    
    
    
    




    
    








    
}
    



    


































